{% extends 'chartroom/main.html' %}

{% block content %}


<div class="container mx-auto px-6 py-6">
    <div class="grid grid-cols-1 md:grid-cols-4 gap-6">
        
        <!-- Main Content -->
        <main class="col-span-1 md:col-span-2">
            <div class="p-6 max-w-lg mx-auto bg-white shadow-lg rounded-lg">
                <h2 class="text-2xl font-semibold text-center mb-4">Login here!</h2>

                 <form action="" method="POST" class="space-y-4 bg-gray-100 p-4 rounded-lg">
                    {% csrf_token %}
                    {{form1}}

                    <button type="submit" class="w-full bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-600 transition">
                        Login&nbsp;<i class="fa fa-check" aria-hidden="true"></i>
                    </button>
                   
                </form>
                <p >Haven't signed up yet? <a class=" text-blue-700 py-2  hover:text-red-600"  href="{% url 'register' %}">Register</a></p>

            </div>
        </main>


    </div>
</div>

{% endblock %}
